@model HHY.Models.CommonModel

@{
    ViewData["Title"] = "建立前台分類";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>建立前台分類</h4>
<hr />
<div id="app" class="row">
    <div class="col-md-6 admincontent">
        <div class="form-group admin_content_part">
            <div class="col-md-6">
                <label asp-for="Title" class="control-label"></label>
                <input v-model="insert.Title" class="form-control" />
            </div>
            <div class="col-md-6">
                <label asp-for="Url" class="control-label"></label>
                <input v-model="insert.Url" class="form-control" />
            </div>
        </div>
        <div class="col-md-6">
            <label asp-for="PublishDate" class="control-label"></label>
            <div class="input-group date" id="datetimepickerstart" data-target-input="nearest">
                <input id="startDate" type="text" class="form-control datetimepicker-input" data-target="#datetimepickerstart" v-model="insert.PublishDate" />
                <div class="input-group-append" data-target="#datetimepickerstart" data-toggle="datetimepicker">
                    <div class="input-group-text"><i data-feather="calendar"></i></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <label asp-for="DownDate" class="control-label"></label>
            <div class="input-group date" id="datetimepickerend" data-target-input="nearest">
                <input id="endDate" type="text" class="form-control datetimepicker-input" data-target="#datetimepickerend" v-model="insert.DownDate" />
                <div class="input-group-append" data-target="#datetimepickerend" data-toggle="datetimepicker">
                    <div class="input-group-text"><i data-feather="calendar"></i></div>
                </div>
            </div>
        </div>
        <div class="form-group admin_content_part">
            <div class="col-md-6">
                <label asp-for="IsProductPromotion" class="control-label"></label>
                <input name="IsProductPromotion" v-model="insert.IsProductPromotion" type="checkbox" v-on:click='getUrl' />
            </div>
        </div>
        <div class="form-group admin_content_part">
            <div class="col-md-6 no_chksend">
                <input type="submit" value="建立" class="btn btn-info" v-on:click='createMenu' />
            </div>
        </div>
    </div>
</div>

@section ScriptBlock{
    <script type="text/javascript">
        $(function () {
            $('#datetimepickerstart').datetimepicker({
                format: 'YYYY/MM/DD HH:mm:ss'
            });
            $('#datetimepickerend').datetimepicker({
                useCurrent: false,
                format: 'YYYY/MM/DD HH:mm:ss'
            });
            $("#datetimepickerstart").on("change.datetimepicker", function (e) {
                $('#datetimepickerend').datetimepicker('minDate', e.date);
            });
            $("#datetimepickerend").on("change.datetimepicker", function (e) {
                $('#datetimepickerstart').datetimepicker('maxDate', e.date);
            });
        })
    </script>
    <script>
       var app = new Vue({
            el: '#app',
            data: function () {
                return {
                    insert: {
                        Title: null,
                        Url: null,
                        PublishDate: null,
                        DownDate: null,
                        IsProductPromotion: null
                    }
                }
            },
            mounted: function () {
                var self = this;
                 $("#datetimepickerstart").on("change.datetimepicker", function (e) {
                    self.insert.PublishDate = $('#startDate').val();
                });

                $("#datetimepickerend").on("change.datetimepicker", function (e) {
                    self.insert.DownDate = $('#endDate').val();
                });
            },
            methods: {
                getUrl: function (e) {
                    var self = this;
                    if (e.target.checked === true) {
                        self.Data.Url = '/Product/List?IsPromotion=true';
                    } else {
                        self.Data.Url = '/Product/List';
                    }
                },
                createMenu: function () {
                    var self = this;

                    $.ajax({
                        type: 'Post',
                        url: '/api/admin/createmenu',
                        data: self.insert,
                        statusCode: {},
                        success: function () {
                            alert('建立成功');
                            location.href = "/Menus";
                        },
                        error: function (xhr, textStatus, error) {
                            alert(xhr.responseJSON.Message);
                        }
                    });
                }
            }
        })
    </script>
}